* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smooting: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.25%;
}

.sr-only {
    position: absolute;
    width: 0.1rem;
    height: 0.1rem;
    padding: 0;
    margin: -0.1rem;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.4rem;

    text-transform: uppercase;
    cursor: pointer;

    padding: 0.4rem 2.4rem;
    border-radius: 0.5rem;
}

.primary {
    background: #6246ea;    

    color: #FFFFFF;
        
    transition: background 200ms;
}

.primary:hover {
    background: #523dbe;
    color: white;
}

.secondary {
    color: #6246ea;
}

.secondary:hover {
    background-color: #6246ea;
    color: white;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;     
}

input, 
select, 
button {
    font-family: 'Roboto';
    all: unset;
}

header {
    min-height: 53.32rem;
    background-color: #F8F8FF;    

    position: relative;
    overflow: hidden;

    display: grid;
    gap: 4rem;
}

header::before {
    content: "";
    background-image: url(./assets/penas.svg);
    width: 40.7rem;
    height: 34.5rem;

    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}

header::after {
    content: "";
    background-image: url(./assets/boneca.svg);
    width: 41.4rem;
    height: 33rem;

    position: absolute;
   
    right: 0;
    bottom: -1.2rem;
}

header .content {    
    width: fit-content;
    margin: auto 

}

header .content .top {
    text-align: center;
}

header p {
    font-weight: 500;
    line-height: 160%;

    letter-spacing: 0.1rem;
    text-transform: uppercase;

    color: #E45858;
}

header h1 {    
    font-size: 48px;
    line-height: 125%; 
    color: #121214;
    max-width: 64.7rem;
    margin: 1.8rem auto 0;
}

header h1 span {
    color: #6246EA;
}

form {
    margin-top: 4rem;
    
    display: flex;
   
    padding: 4rem;
    gap: 2.4rem;  

    background: #FFFFFF;
    border: 0.1rem solid #EAEAEA;
    border-radius: 1rem;
}

.search-field {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    background: #fafaff;
    border-radius: 0.5rem;
    padding: 1.2rem .8rem 1.2rem 1.4rem;    
}

input,
select {
    color: #7C7C8A;
    min-width: 29rem;
    
}

.search-field i {
    font-size: 2.4rem;
    color: #E45858;
}

select, .select {
    position: relative;
}

select {
    z-index: 1;
}

.select i.ph-caret-down-light {
    position: absolute;
    right: 1rem;
    z-index: 0;
    color: #858793;
}

form button {   
    padding: 1.2rem 3.2rem;   
}

main > .content {
    max-width: 1216px;
    margin: 10rem auto;
}

section.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.top .view {
    display: flex;
    padding: 1rem;
    gap: .2rem;

    border: .1rem solid #eaeaea;
    border-radius: .6rem;
}

section.cards {
    margin-top: 4rem;
    display: grid;
    gap: 3.2rem;
    grid-template-columns: 1fr 1fr 1fr;    
}

.card {    
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 1rem;
    max-width: 38.4rem;
    overflow: hidden;
}

.card .content {
    display: grid;      
    gap: 1.6rem;

    padding: 1.6rem;
}

.card p  {
    opacity: 0.75;
}

.card h3 {
    color: #121214;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;    
}

.card .location {
    display: flex;  
    align-items: center; 
    gap: 1.25rem;   
}

.location i {
    color: #e45858;
    font-size: 2.4rem;    
}